.InfoContainer {
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
} 
 
.InfoBox{
  margin-top: 2%;
  width: 30%;
  min-width: 450px;
  background-color: rgb(244, 250, 247);
  height: 250px;
  margin-left: 1%;
  border-radius: 4%;
  padding-bottom: 2.5%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 15px;
  border: 1px solid black; 
   
}